{{ define "main"}}
<div class="">
    <div class="col-md-6">
        {{ .Content }}
        <h2>{{.Title}}</h2>
    
    <table>
        <tr>
            <th>nombre</th>
            <th>imagen</th>
            <th>web</th>
            <th></th>
        </tr>
        
        
        {{range .Site.Data.peliculas}}
        <tr>
            <td>{{.titulo}}</td>
            <td><img src="{{.img}}" alt="{{.titulo}}"></td>
            <td><a href="https://www.imdb.com{{.url}}">{{.titulo}}</a></td>
            <td></td>
        </tr>
        {{ end }}
    </table>
      </div>
</div>
{{ end }}